<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<li th:each="clazz : ${list}">
    <a th:href="@{'/aptech/class/' + ${clazz.id}}"><span th:text="${clazz.name}"></span></a>
</li>
</body>
</html>
