<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Detail Student</h1>
RollNumber : <p th:text="${student.rollNumber}"></p>
Name : <p th:text="${student.name}"></p>
Email : <p th:text="${student.email}"></p>
</body>
</html>